bottle==0.12.25
certifi==2022.12.7
charset-normalizer==3.1.0
cssselect==1.2.0
idna==3.4
importlib-metadata==6.1.0
lxml==4.9.2
markdown==3.4.3
pygments==2.14.0
pyquery==2.0.0
requests==2.28.2
urllib3==1.26.15
werobot==1.13.1
xmltodict==0.13.0
zipp==3.15.0
