<div class="inner">
<article class="post"><%- partial('_partial/article', { post: page, index: false } ) %></article>
<section id="appreciates">
  <center>
	<h2>赞赏</h2>
	<h4>如果文章对您有所帮助，可以捐赠我喝杯咖啡😌，捐赠方式：</h4>
    <div class="digital-wallet">
	  <h6>BTC 地址：3LYgSyf7ddMALwGWPQr3PY4wzjsTDdg1oV</h6>
	  <h6>ETH 地址：0x0C9b27c89A61aadb0aEC24CA8949910Cbf77Aa73</h6>
    </div>
    <div class="wechat_appreciates">
	  <img src="/images/wechat_appreciates.png" alt="qrcode" width="250" >
    </div>
	<h4>文章已同步更新公众号("极客与黑客之路")，欢迎关注</h4>
  </center>
</section>
<% if (theme.disqus_shortname && page.comments != false) { %>
<%- partial('_partial/disqus', { post: page, index: false }) %>

<section id="comment">
    <h2 class="title">Comments</h2>
    <div id="disqus_thread" aria-live="polite"><%- partial('_partial/post/disqus_thread') %></div>
</section>
<% } %>
</div>
