.browser-support-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 0 0 20px 0;
  table-layout: fixed;
} 

.browser-support-table th {
  text-align: left;
  background: #444 !important;
  color: white;
  border: 1px solid #666;
  padding: 15px 10px !important;
}

.browser-support-table td {
  border-left: 1px solid #EBE0E0;
  border-right: 1px solid #EBE0E0;
  padding: 15px 10px;
  width: 1000px;
  font-size: 0.8rem;
}

.browser-support-table .yep {
  background: #EDFFDB;
 }

.browser-support-table .nope {
  background: #FF0017;
  color: white;
}
