---
layout: default
single: true
---
<div class="inner">
	<article class="post">{% include article.html %}</article>
  <section id="appreciates">
    <center>
	    <h2>赞赏</h2>
	    <h4>如果文章对您有所帮助，可以转点 ETH 给我喝咖啡😌，钱包二维码：</h4>
      <span>0x0C9b27c89A61aadb0aEC24CA8949910Cbf77Aa73</span>
      <img src="/images/my_eth_qrcode.png" alt="qrcode" width="250" >
    </center>
  </section>
	{% unless page.sharing == false %}
		{% include post/sharing.html %}
	{% endunless %}
	{% if site.disqus_short_name and page.comments == true %}
	<section id="comment">
	    <h2 class="title">Comments</h2>
	    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
	</section>
	{% endif %}
</div>
