aside.sidebar li {
    list-style: none;
    padding: .5em 0;
    margin: 0;
    border-bottom: 1px solid $color-gray04;
}

aside.sidebar section {
    margin-bottom: 1.5em;
}

aside.sidebar a {
    color:#7c7873;
    -webkit-transition:all 1s ease-in-out;
    -moz-transition:all 1s ease-in-out;
    -o-transition:all 1s ease-in-out;
    transition:all 1s ease-in-out;
}

aside.sidebar a:hover {
    color: #084B8A;
    text-shadow: 3px 3px 12px #888;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
}